<a href="https://colab.research.google.com/github/Cann-Emma/DS1002-zgb8ts/blob/main/Looping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#LOOPING LISTS:

*   for
*   if
* elif
* else
* continue
* break
* while

In [ ]:
# Using 'for' loop in collection

num= [1,2,3,4,5,6,7,8,9]
for x in num:
  if x==4:
    continue
  print(x)

1
2
3
5
6
7
8
9

In [ ]:
for z in num:
  if z%2==0:
    print('divisible by 2')
  elif z== 7:
    break
  else:
     print(z)

1
divisible by 2
3
divisible by 2
5
divisible by 2

In [ ]:
words= ['excellent', 'brilliant', 'smart', 'amazing']
for y in words:
  if y== 'brilliant':
    print('got it')
  else:
      print(y)

excellent
got it
smart
amazing

In [ ]:
# looping variable
c= -4
while c<= 5:
  c= c+1.5
  print(c)
  if c== 2.5:
    continue
  elif c== 5:
    break

-2.5
-1.0
0.5
2.0
3.5
5.0

LOOPING DICTIONARIES

In [ ]:
things= {'sport': 'soccer', 'animal': 'cat', 'order': 'fries', 'day': 'thursday'}
print(things.keys())
print(things['day'])

dict_keys(['sport', 'animal', 'order', 'day'])
thursday

In [ ]:
# To get values
for t in things:
  print(things[t])

soccer
cat
fries
thursday

In [ ]:
# To get keys
for t in things:
  print(t)

sport
animal
order
day

In [ ]:
for key, value in things.items():
  print(key)
  print(value)

sport
soccer
animal
cat
order
fries
day
thursday

LOOPING TUPLES

In [5]:
tupes= ('earth', 'water', 'fire','air')
for element in tupes:
  if element!= 'water':
    print(element)

earth
fire
air

In [11]:
for element in tupes:
  if element=='earth':
    print(element, 'nation captured')
  elif element=='air':
    print(element, 'nation captured')
  else:
    print(element)

earth nation captured
water
fire
air nation captured