<a href="https://colab.research.google.com/github/Cann-Emma/DS1002-zgb8ts/blob/main/notebooks/24-functions-in-r.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions in R

The syntax of a function in R is as follows:

```
1   name <- function(param1, param2) {
2     # logic goes here
3   }
```

- Line 1
    - the function is assigned to a variable name
    - the function() method is called, listing the parameters within the parentheses.
    - the function logic is initiated with `{`
- Line 2ff - The logic of the function
- Line 3 - The function logic is closed with `}`

Here is a simple example that takes two integers and adds them:

In [1]:
add_these <- function(var1, var2) {
  sum = var1 + var2
}

That defines a function, expecting two variables. But it does nothing at the moment until it is called.

In [2]:
print(add_these(7,14))

[1] 21

Divide Two variables Function

In [11]:
divide_these<- function(var1, var2) {divide= var1/var2}
print(divide_these(14, 7))

var1= 6/2
var2= 4*2
print(divide_these(var1, var2))

[1] 2
[1] 0.375

That works and produces output because the function is called within a `print()` command.

But notice how, below, when two parameters exist with values, and are passed into the function in the final line, nothing prints.
In Python we had the notion of `return` where a function is instructed in how to provide output.

In [9]:
var1 = 8
var2 = 16

add_these <- function(var1, var2) {
  sum = var1 + var2
}

add_these(var1, var2)

To resolve this, use the built-in `return()` function.

In [12]:
var1 = 8
var2 = 16

add_these <- function(var1, var2) {
  sum = var1 + var2
  return(sum)
}

add_these(var1, var2)

[1] 24

Remember that `print()` is never the same as `return()`.

In [17]:
# Return output
divide_these<- function(var1, var2) {divide= var1/var2
return(divide)}

divide_these(1, 9)

#
divide<- function(var1, var2) {divide= var1/var2
divide}
divide(12, 8)

[1] 0.1111111

[1] 1.5

A function can still pass back a value without the `return()` function, if the value is called as part of the function logic.

In [15]:
add_them = function(val1,val2) {
  # perform the math
  add = val1 + val2
  # return the result
  add
}

# pass values to the function
add_them(15,25)

[1] 40

Here is a more complex function that takes a value and a vector, then normalizes the value against the vector by subtracting the vector mean from value, and dividing by vector standard deviation.

In [18]:
x <- 5
xx <- c(4, 6, 7, 8, 2, 11)

compute_zscore <- function(val, vec) {
  z <- (val - mean(vec)) / sd(vec)
}

print(compute_zscore(x, xx))

[1] -0.4244764

## Conditions within Functions

A function returns `1` if passed value is odd, `0` if even.

In [19]:
# This uses the modulus math operator and tests for the output

is_odd <- function(x){ if (x %% 2 == 1) {
    return(1)
  } else {
    return(0)
  }
}

In [20]:
is_odd(13)

[1] 1

In [24]:
is_even<- function(x) {if (x%%2==0) {return('even')} else{return('odd')}}
is_even(8)
is_even(9)

[1] "even"

[1] "odd"

## Scoping within Functions

Python had the notion of a `global` variable which can naturally be populated outside of functions, or explicitly populated as `global` within a function.

Notice this in R:

In [25]:
z <- 4

test_fcn <- function(x) {
  x^z
}

In [26]:
test_fcn(2)

[1] 16

If `z` isn't defined in the function, how does this work?

R's scoping rules are different than Python's.

Since `z` isn't in the function, R looks in the function's environment for it.

For more on scoping rules, see [Chapter 15: Scoping Rules of R](https://bookdown.org/rdpeng/rprogdatascience/scoping-rules-of-r.html) in Peng's *R Programming For Data Science*.

## Default Values

Functions may expect argument values to be passed to it when invoked, but you can also specify a default value if the argument is not given.

In [27]:
div_these <- function(var1, var2 = 2) {
  newval = var1 / var2
  newval
}

In [28]:
# pass in arguments as normal
div_these(20, 5)

[1] 4

In [29]:
# pass in only the first argument
div_these(10)

[1] 5